<nav class="navbar bg-dark">
  <h2>Online  Shop</h2>
  <ul>
    <li routerLinkActive="active">
      <a (click)="setType({type : 'Woman'})">Woman</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType({type : 'Man'})">Man</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType({type : 'Children'})">Children</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType({type : 'Cart'}) " [routerLink]="['/cart']">Cart</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

