<nav class="navbar bg-dark">
  <h2>Online  Shop</h2>
  <ul>
    <li routerLink="active">
      <a (click)="setType('Woman')">Woman</a>
    </li>
    <li routerLink="active">
      <a (click)="setType('Man')">Man</a>
    </li>
    <li routerLink="active">
      <a (click)="setType('Children')">Children</a>
    </li>
    <li routerLink="active">
      <a (click)="setType('Cart') "[routerLink]="['/cart']">Cart</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

